<section id="two">
  <article class="inner section3">
    <div class="section-logo">
      <h2>Skopje</h2>
    </div>
    <header>
      <h3 class="section-highlights">Monday</h3>
    </header>
    <div class="card">
      <div class="image1 fit1 upce">
        <img src="assets/images/corefestival.jpg" alt="Image" />
      </div>
      <div class="event-info">
        <h3 class="upc-event">CORE Festival</h3>
        <p class="info">Start: 00:00 - 04:00</p>
        <p class="info">Stanica 26</p>
        <p class="info">TICKET &#62; 300 MKD</p>
      </div>
    </div>
  </article>
</section>
<section id="two">
  <article class="inner section3">
    <header>
      <h3 class="section-highlights">Tuesday</h3>
    </header>
    <div class="card">
      <div class="image1 fit1 upce">
        <img src="assets/images/corefestival.jpg" alt="Image" />
      </div>
      <div class="event-info">
        <h3 class="upc-event">CORE Festival</h3>
        <p class="info">Start: 00:00 - 04:00</p>
        <p class="info">Stanica 26</p>
        <p class="info">TICKET &#62; 300 MKD</p>
      </div>
    </div>
  </article>
</section>
<section id="two">
  <article class="inner section3">
    <header>
      <h3 class="section-highlights">Wednesday</h3>
    </header>
    <div class="card">
      <div class="image1 fit1 upce">
        <img src="assets/images/corefestival.jpg" alt="Image" />
      </div>
      <div class="event-info">
        <h3 class="upc-event">CORE Festival</h3>
        <p class="info">Start: 00:00 - 04:00</p>
        <p class="info">Stanica 26</p>
        <p class="info">TICKET &#62; 300 MKD</p>
      </div>
    </div>
  </article>
</section>
<section id="two" class="marbot">
  <article class="inner section3">
    <header>
      <h3 class="section-highlights">Thursday</h3>
    </header>
    <div class="card">
      <div class="image1 fit1 upce">
        <img src="assets/images/corefestival.jpg" alt="Image" />
      </div>
      <div class="event-info">
        <h3 class="upc-event">CORE Festival</h3>
        <p class="info">Start: 00:00 - 04:00</p>
        <p class="info">Stanica 26</p>
        <p class="info">TICKET &#62; 300 MKD</p>
      </div>
    </div>
  </article>
</section>