<section id="one">
  <article class="inner">
    <header>
      <h3 class="best-event">AWAKENINGS FESTIVAL 2023</h3>
    </header>
    <div class="image fit">
      <img src="assets/images/awakenings-summer-festival-2022.jpg" alt="Image" />
    </div>
    <p><b>When:</b> January 28, 2023 (Eindhoven), April 7-9 (Easter Edition)
      May 13-14 (Spring Edition) | July 7-9, 2023 (Summer Edition) </p>
    <p><b>Where:</b> Spaarnwoude, Netherlands</p>

  </article>
</section>

<section id="two">
  <article class="inner section3">
    <div class="section-logo">
      <a href="index.html" class="logo">Logo</a>
    </div>
    <header>
      <h3 class="section-highlights">Upcomming Events</h3>
    </header>
    <div class="card">
      <div class="image1 fit1 upce">
        <img src="assets/images/corefestival.jpg" alt="Image" />
      </div>
      <div class="event-info">
        <h3 class="upc-event">CORE Festival</h3>
        <p class="info">Start: 00:00 - 04:00</p>
        <p class="info">Stanica 26</p>
        <p class="info">TICKET &#62; 300 MKD</p>
      </div>
    </div>
  </article>
</section>

<section id="two">
  <article class="inner section2">
    <div class="section-logo">
      <a href="index.html" class="logo">Logo</a>
    </div>
    <header>
      <h3 class="section-highlights">Highlights</h3>
    </header>
    <div class="image1 fit1">
      <video width="100%" controls>
        <source src="assets/images/Video background party.mp4" type="video/mp4">
      </video>
      <h4>Stanica 26</h4>
    </div>
    <div class="image1 fit1">
      <video width="100%" controls>
        <source src="assets/images/Video background party.mp4" type="video/mp4">
      </video>
      <h4>Stanica 26</h4>
    </div>
  </article>
</section>